**/SIMC/weights_late_microexpfusenet/
**/SIMC/numpy_validation_datasets/
**/SIMC/numpy_training_datasets/
**/SAMM/weights_SAMM/
**/SAMM/numpy_validation_datasets/
**/SAMM/numpy_training_datasets/
**/CAS(ME)2/weights_CAS(ME)2/
**/CAS(ME)2/numpy_validation_datasets/
**/CAS(ME)2/numpy_training_datasets/
**/CASMEII/weights_CASMEII/
**/CASMEII/numpy_validation_datasets/
**/CASMEII/numpy_training_datasets/
**/End-to-End/CASMEII/weights_CASMEII/
**/End-to-End/CASMEII/numpy_validation_datasets/
**/End-to-End/CASMEII/numpy_training_datasets/
**/Fuse/CASMEII/weights_CASMEII/
**/Fuse/CASMEII/numpy_validation_datasets/
**/Fuse/CASMEII/numpy_training_datasets/
**/venv/
**/.idea
**/Fuse/SIMC/activations
**/Fuse/CrossDatasetAnalysis/cross/numpy_training_datasets/
**/Fuse/CrossDatasetAnalysis/combined/numpy_training_datasets/
